@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.onlysp {
  display: none;
}

.hidden {
  display: none !important;
}

html, body {
  font-family: YuGothic, "游ゴシック", "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", Helvetica, Arial, sans-serif;
  font-size: 10px;
}

body * {
  box-sizing: border-box;
}

.wrapper {
  font-size: 1.6rem;
}
.wrapper h1 {
  font-size: 2.0rem;
  padding: 1.0rem 0;
}

.screen-upload__preview img {
  max-width: 100%;
}

.screen-upload__dnd {
  margin: 1.0rem;
  padding: 1.5rem;
  border: 2px dashed #aaa;
  color: #aaa;
  text-align: center;
}

.isSP .onlysp {
  display: initial;
}
.isSP .onlypc {
  display: none;
}
.isSP .staircase-sp__preview img {
  max-width: 100%;
}

.modal, .screen--modal {
  display: none;
  width: 100%;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  position: fixed;
  overflow: scroll;
}

.modal__bg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal__content {
  position: relative;
  margin: 0 auto;
  max-width: 730px;
  text-align: center;
  background-color: #fff;
  padding: 2.0rem;
}

.modal__close {
  cursor: pointer;
  text-align: right;
}
