doctype html
html(lang="ja")
  head
    include partials/_variables
    include partials/_meta
    
    link(rel="stylesheet" href="./css/main.css")
    //- link(rel="stylesheet" href="./css/sp/main.css")
    
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    
    script(src="./js/lib/eventemitter2.js")
    script(src="./js/lib/Staircase.js")
    script(src="./js/Util.js")
    script(src="./js/SetupStaircase.js")
    script(src="./js/main.js")
    
  body
    include partials/_ua
    +ua("App")
    
    div.wrapper
      h1 Staircase
      
      div.container
        div.staircase.onlypc
          div.staircase__screen--select#screen-select
            ul
              li: button.btn-navigate-camera(type="button") WEBカメラで投稿
              li: button.btn-navigate-upload(type="button") 写真で投稿
          
          div.staircase__screen--camera#screen-camera.screen--modal
            div.modal__bg
            div.modal__content
              p.modal__error
              div.modal__close ×閉じる
              div#Camera.screen-camera__camera
                video#Video(width="100%" height="400" autoplay="1")
              canvas#PreviewVideo.screen-camera__preview(width="100%" height="400")
              p.screen-camera__capture
                button.btn-capture(type="submit") パシャ！
              p.screen-camera__again
                button.btn-again(type="button" disabled) 撮り直す
              p.screen-camera__upload
                button.btn-upload(type="button" disabled) アップロード！
              p.screen-camera__nav
                button.btn-navigate-upload(type="button") やっぱ画像をアップロード
              p.screen-camera__cancel
                button.btn-cancel(type="button") キャンセル
          
          div.staircase__screen--upload#screen-upload.screen--modal
            div.modal__bg
            div.modal__content
              p.modal__error
              div.modal__close ×閉じる
              div#DragAndDrop.screen-upload__dnd DragAndDrop
              p.screen-upload__input
                input#File.input-file(type="file" accept="image/*")
              canvas#PreviewImage.screen-upload__preview(width="100%" height="400")
              p.screen-upload__upload
                button.btn-upload(type="button" disabled) アップロード！
              p.screen-upload__nav
                button.btn-navigate-camera(type="button") やっぱカメラで撮影する
              p.screen-upload__cancel
                button.btn-cancel(type="button") キャンセル
        
        div.staircase--sp.onlysp
          div.staircase-sp__upload
            label(for="inputFileSP")
              | 写真を投稿
              input#inputFileSP.input-file(type="file" accept="image/*" style="display: none;")
          //- csanvas#PreviewImageSP.staircase-sp__preview(width="730" height="400")
          div#PreviewImageSP.staircase-sp__preview
      
      
      
        //- div
          ul
            li.onlypc
              button#StartCamera(type="button" class="bgimg-button btn-camera") カメラで撮影する
            li
              div.onlysp
                form#Upload(enctype="multipart/form-data")
                  p#FileSelect.btn-upload
                    canvas#file_img_canvas(style="display:none")
                    input.file(type="file" name="img" accept="image/*")
                    button(type="button") 画像をアップロード
              div.onlypc
                button(type="button" class="bgimg-button btn-upload") 画像をアップロード
          
          
          div.onlysp
            div#Camera.camera
              video#Video(width="400" height="300" autoplay="1")
            canvas#Canvas(width="400" height="300")
            canvas#CanvasDummy(width="400" height="300")
            div#DragAndDrop.face-canvas
        
          div.screen.screen--camera.onlypc(data-step="1")
            div.face-canvas
              div#Camera.camera
                video#Video(width="400" height="300" autoplay="1")
              div#Preview.preview
                canvas#Canvas(width="400" height="300")
                canvas#CanvasDummy(width="400" height="300" style="display: none;")
            p.btn-shooting
              button#Capture(type="submit") 撮影する
            p.btn-navigate-upload
              button(type="button") 画像をアップロード
          
          div.screen.screen--upload(data-step="1")
            div#DragAndDrop.face-canvas
            form#Upload(enctype="multipart/form-data")
              p#FileSelect.btn-upload
                input.file(type="file" name="img" accept="image/*")
                button(type="button") 画像をアップロード
            p.btn-navigate-camera
              button(type="button") カメラで撮影する
      
